#body{height:0;transition:all 3s ;}

.sprite-livro{
	width:100%;
	height:32px;
	background-image:url("../img/livros.png");
	background-size:100% 1000%;
	display:block;
	z-index:1;
	position:relative;
	cursor:pointer;	
}

.sprite-livro-bootstrap{
	background-position:0% 0px;
}

.sprite-livro-html{
	background-position:0% -64px;
}

.sprite-livro-css{
	background-position:0% -96px;
}

.sprite-livro-php{
	background-position:0% -32px;
}

.sprite-livro-javascript{
	background-position:0% -128px;
}

.sprite-livro-jquery{
	background-position:0% -160px;
}

.sprite-livro-gimp{
	background-position:0% -192px;
}

.sprite-livro-photoshop{
	background-position:0% -224px;
}

.sprite-livro-inkscape{
	background-position:0% -256px;
}

.sprite-livro-corel{
	background-position:0% -288px;
}

/*
#============================================================
#       Pré-loader                                          #
#============================================================
*/

.preloader{
	position:absolute;
	background-color:#3498db;
	width:100%;
	height:100vh;
	z-index:100;
}

.preloader p{ position:relative;top:25%;margin:auto;left:42%;color:#fff;font-family:arial;font-weight:bold;font-size:2em;}

/* bloco animado carregamento*/
.block-rotate {
    width:100px;
    height:100px;
    border-radius:100px;
    background:linear-gradient(#e67e22 50%,#ecf0f1 50%);
    display:block;
    transition:all 5s;
    position:relative;
    top:30%;
    left:45%;
	z-index:50;
    animation-name: blockRotate;
    -webkit-animation-name: blockRotate;
    -webkit-animation-duration:5s;
    animation-duration:5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}



/*
#============================================================
#       Animações                                           #
#============================================================
*/


@keyframes blockRotate{
    from {transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

@-webkit-keyframes blockRotate{
    from {transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
